<!DOCTYPE>
<html>
<header>
  <title>デュエルオフ</title>
</header>
<body>
  <div id="site_box">
    <div class ="header">
      <div id="logo">デュエルオフ</div>
      <div id="nav_area">
        <nav>
          <ul class="nav_list">
            <li></li>
            <li><a href="#">新規登録</a></li>
            <li><a href="#">ログイン</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main_contents">
    コンテンツ部
    </div>
    <hr>
    <div class="nav_contents">
      <div class="contents_left">
      コンテンツ左
      </div>
      <div class="contents_center">
      コンテンツ真ん中
      </div>
      <div class="contents_right">
      コンテンツ右
      </div>
    </div>
    <div class="footer">
    フッター部
    </div>
  </div>
</body>
</html>